metadata_dir = "{{ metadata_dir }}"
data_dir = "{{ data_dir }}"
db_engine = "{{ garage_install_configuration.db_engine }}"
replication_factor = {{ garage_install_configuration.replication_factor }}

{% if garage_install_configuration.rpc_bind_addr is defined %}
rpc_bind_addr = "{{ garage_install_configuration.rpc_bind_addr }}"
{% endif %}
rpc_public_addr = "{{ garage_install_configuration.rpc_public_addr }}"
{% if garage_install_configuration.rpc_secret is defined %}
rpc_secret = "{{ garage_install_configuration.rpc_secret }}"
{% endif %}
{% if garage_install_configuration.rpc_secret_file is defined %}
rpc_secret_file = "{{ garage_install_configuration.rpc_secret_file }}"
{% endif %}
{% if garage_install_configuration.consistency_mode is defined %}
consistency_mode = "{{ garage_install_configuration.consistency_mode }}"
{% endif %}
{% if garage_install_configuration.metadata_fsync is defined %}
metadata_fsync = {{ garage_install_configuration.metadata_fsync | string | lower }}
{% endif %}
{% if garage_install_configuration.data_fsync is defined %}
data_fsync = {{ garage_install_configuration.data_fsync | string | lower }}
{% endif %}
{% if garage_install_configuration.metadata_auto_snapshot_interval is defined %}
metadata_auto_snapshot_interval = "{{ garage_install_configuration.metadata_auto_snapshot_interval }}"
{% endif %}
{% if garage_install_configuration.disable_scrub is defined %}
disable_scrub = {{ garage_install_configuration.disable_scrub | string | lower }}
{% endif %}
{% if garage_install_configuration.use_local_tz is defined %}
use_local_tz = {{ garage_install_configuration.use_local_tz | string | lower }}
{% endif %}
{% if garage_install_configuration.block_size is defined %}
block_size = "{{ garage_install_configuration.block_size }}"
{% endif %}
{% if garage_install_configuration.block_ram_buffer_max is defined %}
block_ram_buffer_max = "{{ garage_install_configuration.block_ram_buffer_max }}"
{% endif %}
{% if garage_install_configuration.block_max_concurrent_reads is defined %}
block_max_concurrent_reads = {{ garage_install_configuration.block_max_concurrent_reads }}
{% endif %}
{% if garage_install_configuration.block_max_concurrent_writes_per_request is defined %}
block_max_concurrent_writes_per_request = {{ garage_install_configuration.block_max_concurrent_writes_per_request }}
{% endif %}
{% if garage_install_configuration.lmdb_map_size is defined %}
lmdb_map_size = "{{ garage_install_configuration.lmdb_map_size }}"
{% endif %}
{% if garage_install_configuration.compression_level is defined %}
compression_level = {{ garage_install_configuration.compression_level }}
{% endif %}
{% if garage_install_configuration.rpc_bind_outgoing is defined %}
rpc_bind_outgoing = {{ garage_install_configuration.rpc_bind_outgoing | string | lower }}
{% endif %}
{% if garage_install_configuration.rpc_public_add_subnet is defined %}
rpc_public_add_subnet = "{{ garage_install_configuration.rpc_public_add_subnet }}"
{% endif %}
{% if garage_install_configuration.rpc_public_add_subnet is defined %}
rpc_public_add_subnet = "{{ garage_install_configuration.rpc_public_add_subnet }}"
{% endif %}
{% if garage_install_configuration.bootstrap_peers is defined %}
bootstrap_peers = [
  {% for peer in garage_install_configuration.bootstrap_peers %}
  "{{ peer }}",
  {% endfor %}
]
{% endif %}
{% if garage_install_configuration.allow_world_readable_secrets is defined %}
allow_world_readable_secrets = {{ garage_install_configuration.allow_world_readable_secrets | string | lower }}
{% endif %}
{% if garage_install_configuration.allow_punycode is defined %}
allow_punycode = {{ garage_install_configuration.allow_punycode | string | lower }}
{% endif %}

{% if garage_install_configuration.consul_discovery is defined %}
{% set consul_discovery = garage_install_configuration.consul_discovery %}
[consul_discovery]
consul_http_addr = "{{ consul_discovery.allow_punycode }}"
api = "{{ consul_discovery.api }}"
service_name = "{{ consul_discovery.service_name }}"
{% if consul_discovery.client_cert is defined %}
client_cert = "{{ consul_discovery.client_cert }}"
{% endif %}
{% if consul_discovery.client_key is defined %}
client_key = "{{ consul_discovery.client_key }}"
{% endif %}
{% if consul_discovery.tls_skip_verify is defined %}
tls_skip_verify = {{ consul_discovery.tls_skip_verify | string | lower }}
{% endif %}
token = "{{ consul_discovery.token }}"
{% if consul_discovery.datacenters is defined %}
datacenters = [
  {% for datacenter in consul_discovery.datacenters %}
  "{{ datacenter }}",
  {% endfor %}
]
{% endif %}
{% if consul_discovery.tags is defined %}
tags = [
  {% for tag in consul_discovery.tags %}
  "{{ tag }}",
  {% endfor %}
]
{% endif %}
{% if consul_discovery.meta is defined %}
meta = [
  {% for meta in consul_discovery.meta %}
  "{{ meta }}",
  {% endfor %}
]
{% endif %}
{% endif %}

{% if garage_install_configuration.kubernetes_discovery is defined %}
{% set kubernetes_discovery = garage_install_configuration.kubernetes_discovery %}
[kubernetes_discovery]
namespace = "{{ kubernetes_discovery.namespace }}"
service_name = "{{ kubernetes_discovery.service_name }}"
{% if kubernetes_discovery.tls_skip_verify is defined %}
tls_skip_verify = {{ kubernetes_discovery.tls_skip_verify | string | lower }}
{% endif %}
{% endif %}

{% set s3_api = garage_install_configuration.s3_api %}
[s3_api]
api_bind_addr = "{{ s3_api.api_bind_addr | default('[::]:3900') }}"
s3_region = "{{ s3_api.s3_region | default('garage') }}"
{% if s3_api.root_domain is defined %}
root_domain = "{{ s3_api.root_domain }}"
{% endif %}

{% set s3_web = garage_install_configuration.s3_web %}
[s3_web]
bind_addr = "{{ s3_web.bind_addr | default('[::]:3902') }}"
{% if s3_web.root_domain is defined %}
root_domain = "{{ s3_web.root_domain }}"
{% endif %}
add_host_to_metrics = {{ s3_web.add_host_to_metrics | default(false) | string | lower }}

{% if garage_install_configuration.admin is defined %}
{% set admin = garage_install_configuration.admin %}
[admin]
{% if admin.api_bind_addr is defined %}
api_bind_addr = "{{ admin.api_bind_addr }}"
{% endif %}
{% if admin.admin_token is defined %}
admin_token = "{{ admin.admin_token }}"
{% endif %}
{% if admin.admin_token_file is defined %}
admin_token_file = "{{ admin.admin_token_file }}"
{% endif %}
{% if admin.metrics_token is defined %}
metrics_token = "{{ admin.metrics_token }}"
{% endif %}
{% if admin.metrics_token_file is defined %}
metrics_token_file = "{{ metrics.metrics_token_file }}"
{% endif %}
{% if admin.metrics_require_token is defined %}
metrics_require_token = {{ admin.metrics_require_token | string | lower }}
{% endif %}
{% if admin.trace_sink is defined %}
trace_sink = "{{ admin.trace_sink }}"
{% endif %}
{% endif %}